@page "/MetasAhorro/edit/{Id:int}"
@using CurrieTechnologies.Razor.SweetAlert2
@using Spendnt.Shared.Entities
@using Spendnt.WEB.Repositories

@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Meta de Ahorro</h3>

@if (MetaAhorro is null)
{
    <p>Cargando...</p>
}
else
{
    <MetasAhorroForm @ref="metaAhorroForm" MetaAhorro="MetaAhorro" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private MetaAhorro MetaAhorro;
    private MetasAhorroForm metaAhorroForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.GetAsync<MetaAhorro>($"/api/MetasAhorro/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/MetasAhorro");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            MetaAhorro = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.PutAsync($"/api/MetasAhorro/{MetaAhorro.Id}", MetaAhorro);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("/MetasAhorro");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/MetasAhorro");
    }
}