@page "/Ingresos"
@using CurrieTechnologies.Razor.SweetAlert2
@using Spendnt.Shared.Entities
@using Spendnt.WEB.Repositories
@using Spendnt.WEB.Shared
@using Microsoft.AspNetCore.Authorization;



@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal



<h1>IngresosIndex</h1>

@if (Ingresos is null)
{
    <div class="spinner" />
}
else
{





    <GenericList MyList="Ingresos">

        <Body>

            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-globe"></i> Ingresos
                        <a class="btn btn-sm btn-primary float-end" href="/Ingresos/create"><i class="oi oi-plus"></i> Crear Ingresos</a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ingresos</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingresos in Ingresos!)
                    {
                        <tr>

                            <td>
                                @ingresos.Ingreso
                            </td>
                            <td>
                                @ingresos.Fecha
                            </td>


                            <td>
                                @ingresos.Categorias
                            </td>


                            <td>
                                <a href="/Ingresos/edit/@ingresos.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(ingresos))><i class="oi oi-trash" /> Borrar</button>


                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </Body>

    </GenericList>
}




@code {


    public List<Ingresos> Ingresos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.GetAsync<List<Ingresos>>("/api/Ingresos");
        Ingresos = responseHppt.Response!;
    }

    private async Task DeleteAsync(Ingresos Ingresos)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.DeleteAsync($"api/Ingresos/{Ingresos.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}